USE [ApiGateway]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15/11/1399 02:35:11 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 15/11/1399 02:35:12 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[BeforeAfter] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/11/1399 02:35:12 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Rolename] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 15/11/1399 02:35:12 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/11/1399 02:35:12 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[IpAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogId], [UserId], [CreateDate], [IpAddress], [Url], [BeforeAfter]) VALUES (1, 1, CAST(N'2021-01-31T09:04:14.750' AS DateTime), NULL, N'https://localhost:44391/api/Pichak/cheque_accept', N'Before')
INSERT [dbo].[Logs] ([LogId], [UserId], [CreateDate], [IpAddress], [Url], [BeforeAfter]) VALUES (2, 1, CAST(N'2021-01-31T09:04:36.157' AS DateTime), NULL, N'https://localhost:44391/api/Pichak/cheque_accept', N'After')
INSERT [dbo].[Logs] ([LogId], [UserId], [CreateDate], [IpAddress], [Url], [BeforeAfter]) VALUES (3, 1, CAST(N'2021-01-31T09:05:05.957' AS DateTime), NULL, N'https://localhost:44391/api/Pichak/cheque_accept', N'Before')
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Rolename], [Description]) VALUES (1, N'Pichak', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [RoleId], [UserId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [FirstName], [LastName], [CreateDate], [IpAddress]) VALUES (1, N'Pichak', N'WTHvdHwi17rDLeeh56Yntu/bN2s7wcRO1GItHHhKOhBAi8x8FmPmWrWkSRMQsz5IMmlEm+JjXC4WdQSypWoGdczrLUITz/9ZH/gnc1AYMNGSYmvqwG+x0gGEQTqxBUzbKwBXofJkQZcdl+Bh2VtZ6AujNyeiJdXf1VIqNX9afEamQzx8fxUFxnaUU8AvKTMQ/u1ZDB685Aa7b/6J82fB2yuUJgtSI8ikM6u2tJp8uUv5XwXUjVoQ8h55wrYz7k5vkXJPKUmbXEBARekHDYnWvsy9UM26c3yOlO4bPs35l3AJCrrcHQxUG0cnbdZvvkREus1CiEyoiREELzTk0D802Q==', N'فرهاد', N'اسماعیلی', CAST(N'2021-01-30T16:31:46.117' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FirstName], [LastName], [CreateDate], [IpAddress]) VALUES (2, N'SuperAdmin', N'zxJ8Y/Lgkpq/TwqDOe7EmTiS7JDqec5JUIATb4K/VxFFEZ8LNoqR4+3dSzj87SzlMnhelwOQTKUc/GawiDzNEL0pooVDOPxL+/o1lDRoqZgekrEjDOvDWM0k7H6sem1mLdvMEDxob+5103MAQND/lu+vJQ5L5dm3YeYXqoo6lgetj7ti37DV3wmZx3mgcEosEAwBUlljs2xneviNWc71Rxcw51DBhN0jY4LXUR+qSHsE5mn5UAMIFKyWQscXpaSFq+FIvPdTeottdeBQR9cz5Ts0KIdiQshkJaX8RO8/wwWLWpqi+fqKkgjjHMGcdudfCo6xuqaWzmItQae31z0Q2w==', N'SuperAdmin', N'SuperAdmin', CAST(N'2021-01-31T08:44:05.053' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_dbo.Logs_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
